body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 50px;
  padding: 10px;
}

#table {
  padding-bottom: 10px;
  padding-top: 10px;
}

#viz-container {
  /*display: block;*/
  //width: 100%;
  //border: 0px solid grey;
  //padding: 10px;
  /*flex-wrap: wrap;*/
}


